<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>导航</title>
  <link  href="https://himg.bdimg.com/sys/portraitn/item/public.1.b2f7ff6d.qAf4G_K3uGrc1V-2KonoRA"  rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="./style.css">
 
</head>
<body >
  <div id="app" @click='item'>
    <div v-for="i in list" class="nav" :title="i.itemname">
      <img class="icon" :src="i.icon" alt="" :id="i.url">
      <a class="title" :href="i.url" target="_blank" :key="i.itemid">{{i.itemname}}</a>
      <div class="remove" @click.stop='removeItem' :id='i.itemid'>X</div>
    </div>
    <div class="view" v-if='isView'>
      <div class="oi">
        <button class="out_file" @click='outfile'>导出 <a></a></button>
        <button class="in_file" @click='btnclick' >导入<a></a></button>
        <input type="file" ref='file' @change="infile" style="display: none;"></>
      </div>
      <input type="text" placeholder="图标URL" v-model="icon">
      <input type="text" placeholder="项目名称" v-model="itemname">
      <input type="text" placeholder="项目URL" v-model="url" >
      <button @click='additem'>添加</button>

    </div>
  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.5/vue.common.dev.js"></script>
  <script src="./main.js"></script>
</body>
</html>
