body {
  padding: 20px;
  margin: 0 12em;
  background-color: #444;
}
a {
  text-decoration: none;
  color: #444;
}
@media screen and (max-width: 1080px) {
  .title {
    display: none;
  }
  #app .nav div.remove {
    right: 50%;
    transform: translate(50%, 0);
    top: -20%;
  }
  body {
    padding: 20px;
    margin: 0 0;
    background-color: #444;
  }
  #app div.view {
    width: 75%;
  }
}
#app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}
#app .nav {
  background-color: #fff;
  height: 50px;
  border-radius: 10px;
  display: flex;
  min-width: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.6s;
}
#app .nav .icon {
  height: 50%;
  cursor: pointer;
}
#app .nav .title {
  line-height: 50px;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#app .nav:hover {
  background-color: #00b0ff;
}
#app .nav:hover .title {
  color: #fff;
}
#app .nav:hover .remove {
  display: block;
}
#app .nav .remove {
  box-sizing: border-box;
  position: absolute;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  right: 10px;
  opacity: 0.6;
  font-size: 0.5rem;
  background-color: #f00;
  display: none;
  cursor: pointer;
  color: #fff;
  animation: out 0.8s;
  font-weight: 100;
  font-family: 等线;
  transition: all 0.5s;
}
#app .nav .remove:hover {
  opacity: 1;
}
#app .view {
  box-sizing: border-box;
  position: fixed;
  height: 21.5em;
  width: 30em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 10px 0 10 #ccc;
  border-radius: 10px;
  animation: open 0.5s;
  overflow: hidden;
}
#app .view .oi {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#app .view .oi .out_file,
#app .view .oi .in_file {
  width: 48%;
}
#app .view .oi .in_file {
  margin-top: 20px;
}
#app .view input,
#app .view button {
  height: 40px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: #eee;
  padding-left: 10px;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.6s;
}
#app .view input:hover,
#app .view button:hover {
  background-color: #00b0ff;
  color: #fff;
}
#app .view button {
  margin-top: 20px;
}
@keyframes open {
  0% {
    height: 0;
  }
  100% {
    height: 17em;
  }
}
@keyframes out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
